.SectionSelector {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin: 1em auto 2em;
  gap: 0.5em;

  div {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 0.5em;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.Selected {
      border: 1px solid #249efb;
      background-color: lighten($color: #249efb, $amount: 35%);
      color: gray;
    }
  }
}
